
<div class="container">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Your Profile</h2>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2"><!-- BEGIN LEFT COLUMN -->
      <ul class="nav nav-pills nav-stacked well">
        Jobs</br></br>
        Education
      </ul>
    </div><!-- END LEFT COLUMN -->

    <div class="col-md-6"><!-- BEGIN CENTER COLUMN -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
        </div>
        <div class="panel-body">
          <strong> Name: </strong><br>
            <%= "#{@profile.up_fname}  #{@profile.up_lname}" %><br><br>
          <strong> Address: </strong><br>
            <%= @profile.up_address %><br>
            <%= "#{@profile.up_city}, #{@profile.up_state}, #{@profile.up_zip}" %><br><br>
          <strong> Twitter:</strong><br>
            <%= @profile.up_twitter %><br><br>
          <strong> Birthdate:</strong><br>
            Birthdate: <%= @profile.up_birthdate %><br><br>
          <strong> Phone Numbers:</strong><br>
            Phone: <%= @profile.up_phone %><br>
            Cell Phone: <%= @profile.up_mobilephone %><br><br>
          <strong> Gender:</strong><br>
            <%= @profile.up_gender %><br><br>
          <strong> Secondary Email:</strong><br>
            <%= @profile.up_secondemail %><br><br>
          <strong> Bio:</strong><br>
            <%= @profile.up_bio %><br><br>
        </div>
      </div>

      <% if user_signed_in? %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Job Experience</h3>
          </div>
          <div class="jobsIndex panel-body"> 
            <%= render 'jobs/index' %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Education</h3>
          </div>
          <div class="educationIndex cpanel-body">
            <%= render 'educations/index'%>
          </div>
        <div>

      <% end %>
    </div>

    <div class="col-md-4"><!-- BEGIN RIGHT COLUMN -->
      <ul class="well">
        something else</br></br>
        and another thing
      </ul>
    </div> <!-- END RIGHT COLUMN -->

  </div><!-- closes row -->

</div><!-- closes container -->

   <!--  t.string   "up_fname"
    t.string   "up_lname"
    t.string   "up_address"
    t.string   "up_city"
    t.string   "up_state"
    t.integer  "up_zip"
    t.string   "up_twitter"
    t.date     "up_birthdate"
    t.integer  "up_phone"
    t.integer  "up_mobilephone"
    t.string   "up_gender"
    t.string   "up_secondemail"
    t.text     "up_bio" -->