
<div class="container">
<h2>Your Profile</h2>

<h4 class="inline">Name: </h4><%= "#{@profile.up_fname}  #{@profile.up_lname}" %><br>
<h4>Address: </h4><%= @profile.up_address %><br>
<%= @profile.up_city %><br>
<%= @profile.up_state %><br>
<%= @profile.up_zip %><br>
<h4>Twitter Handle:</h4>
<%= @profile.up_twitter %><br>
<h4>Birthdate:</h4>
Birthdate: <%= @profile.up_birthdate %><br>
<h4>Phone Numbers:</h4>
Phone: <%= @profile.up_phone %><br>
Cell Phone: <%= @profile.up_mobilephone %><br>
<h4>Gender:</h4>
<%= @profile.up_gender %><br>
<h4>Secondary Email:</h4>
<%= @profile.up_secondemail %><br>
<h4>Bio:</h4>
<%= @profile.up_bio %><br>

</div>


   <!--  t.string   "up_fname"
    t.string   "up_lname"
    t.string   "up_address"
    t.string   "up_city"
    t.string   "up_state"
    t.integer  "up_zip"
    t.string   "up_twitter"
    t.date     "up_birthdate"
    t.integer  "up_phone"
    t.integer  "up_mobilephone"
    t.string   "up_gender"
    t.string   "up_secondemail"
    t.text     "up_bio" -->