<div class="container">

  <div class="row col-md-12">
    <h1 class="text-center">
      <% if flash[:notice] == "You have successfully signed up! Please fill-in your profile information." %>
        <strong>Complete Your Profile</strong></h1>
      <% else %>
        <strong>Edit Your Profile</strong></h1>
       <% end %>
    <br>
  </div>

  <div class="row">

    <div class="col-md-6 scroll"><!-- LEFT COLUMN --> 

       
        <!-- <%= resource_name.to_s.humanize %> -->

        <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <%= devise_error_messages! %>
            <%= f.text_field :first_name, label: "First Name", :required => true %>

            <%= f.text_field :last_name, label: "Last Name", :required => true %>
            <%= f.email_field :email, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

            <%= f.password_field :password, autocomplete: "off", label: "New Password"%>

            <%= f.password_field :password_confirmation, autocomplete: "off", label: "New Password Confirmation" %>
     
            <%= f.text_field :address, label: "Address" %>

            <%= f.text_field :city, label: "City" %>

            <%= f.select :state, User::STATE, prompt: "Pick one",label: "State" %>

            <%= f.number_field :zip, label: "ZIP" %>

            <%= f.text_field :twitter, label: "Twitter", placeholder: "@twittername"  %>

            <%= f.date_select :birthdate, :start_year=>1950, label: "Birthdate", :required => true %>

            <%= f.text_field :phone, label: "Phone", placeholder: "123-456-7890" %>

            <%= f.text_field :mobile_phone, label: "Mobile Phone", placeholder: "123-456-7890" %>

            <%= f.select :gender, User::GENDER, prompt: "Pick one", label: "Gender" %>

            <%= f.text_field :secondary_email, label: "Secondary Email" %>

            <%= f.text_area :bio, label: "Bio", cols: 10, rows: 7 %>

            <%= f.file_field :image, label: "User Image"%>

            <%= f.password_field :current_password, autocomplete: "off", label: "Current Password - Needed to make changes" %>

            <%= f.submit "Update Profile", class: "btn btn-warning" %>
        <%= link_to "Go Back", :back, class: "btn btn-warning" %>
        <% end %>
        <br><br>

      
  </div><!-- END LEFT COLUMN -->

  <div class="col-md-6"> <!-- RIGHT COLUMN -->


    <h3>Cancel my account</h3>

        <h4>Unhappy?</h4>  
        <p>We are sorry to see you go, but all you have to do to cancel your account is click the 
            button below.</p> 
        <%= button_to "Cancel My Account", registration_path(resource_name),
                      data: { confirm: "Are you sure?" }, method: :delete,
                      class: "btn btn-danger" %>
    <br>

  </div><!-- END RIGHT COLUMN -->

</div>


