
<div class="container">

  <div class="row">
    <h1 class="text-center"><strong>Join FiredUp Today</strong></h1>
    <br>
  </div>

  <div class="row">

    <div class="col-md-7"><!-- LEFT COLUMN --> 
      <img src="/assets/home-page-image.jpg" alt="its an image" class="img-thumbnail">
    </div><!-- END LEFT COLUMN -->

    <div class="col-md-5"> <!-- RIGHT COLUMN -->

      <h2><strong> Get started today!</strong></h2>
      <h4> Its free...</h4>
      <br>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          
          <%= f.email_field :email, autofocus: true %>
      
          <%= f.password_field :password, autocomplete: "off", placeholder: "Eight Characters Minimum" %>

          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Eight Characters Minimum" %>

          <%= f.submit "Sign up", class: "btn btn-primary" %>

      <% end %>
      <br>

      <%= render "devise/shared/links" %>
    </div><!-- END RIGHT COLUMN -->
</div>



          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
