
<div id="wrapper"><!-- START BODY CONTAINER -->
  

      <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
                <ul class="well">
                  <h4>Member Search</h4>
                 
                </ul>
                <%= render 'layouts/footer'  %>
            </div>
        </div>

        <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
          <div id="center">
            <h3 class="inline"> Search Results 
            <%= link_to 'Search Again', users_path(), class: "btn btn-warning btn-xs" %>
            </h3>
            <% if @msearch.search_members.empty? %>
                <p>No Records Found</p>
            <% else %> 
                
              <% @msearch.search_members.order("created_at DESC").each do |member| %>

                  <strong><h4 class="jboardTitleOverride"><%= link_to "#{member.first_name} #{member.last_name}", user_path(member) %></h4></strong>

                    <%= "#{member.city}, #{member.state}" %><br>

                    <small class="text-muted">Member since: <%= member.created_at.strftime("%B %Y") %></small>
                  <hr>
              <% end %>
            <% end %>
          </div>
        </div> <!-- END CENTER COLUMN -->

        <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
     
          <%= render "shared/top_right_banner" %>
          
        </div> <!-- END right COLUMN -->

   
  </div><!-- END BODY CONTAINER --> 

