<div class="container">

  <div class="container"><!-- START HEADER CONTAINER -->
    <div class="row">
          <div class="col-md-12 text-center headline3">
            <h2>FiredUp Job Board</h2>
          </div>
    </div>
  </div><!-- END HEADER CONTAINER -->

  <div class="container"><!-- START Body CONTAINER -->
  <div class="row"><!-- Start Second Row -->

    <div class="col-md-2 "><!-- Start Left Column -->
      <ul class="nav nav-pills nav-stacked well">
        <h4>Search Jobs</h4>
 
        <%= render 'layouts/jobsearchform'  %>
      </ul>
    </div><!-- End Left Column -->

    <div class="col-md-6"><!-- Start Center Column -->
      <%= link_to 'Add a Job', new_user_jboard_path(current_user)%>
      <% @jboards.order("created_at DESC").each do |jboard| %>
      <div class="panel panel-default">
        <div class="center panel-heading">      
          <h4 class="jboardTitleOverride"><%= jboard.title %></h4>
        </div>
        <div class="panel-body memberPanelOverride">
            
          <%= jboard.agency %><br>
          <%= "#{jboard.city}, #{jboard.state}" %><br>

          <small class="text-muted">Posted <%= time_ago_in_words(jboard.created_at) %> ago </small>
          <small class="text-muted">in category: <%= jboard.category %></small><br>
          <small><%= link_to 'See Details', jboard_path(jboard) %></small>
          <% if jboard.user == current_user && user_signed_in? %>
           | <%= link_to 'Edit', edit_jboard_path(jboard) %> | 
            <%= link_to 'Delete', jboard_path(jboard), method: :delete %>
          <% end %>
        </div> <!-- End panel body -->
      </div>
            <% end %>
    </div> <!-- End Center Column -->

    <div class="col-md-4 text-center"><!-- Start Right Column -->
    

      <h1>Place Holder</h1>


    </div><!-- End Right Column -->

  </div> <!-- End Second Row -->
  </div> <!-- End body container Row -->


</div><!-- End Container -->