<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> Jobs </h1>
        <%= link_to 'Add a Job', new_user_jboard_path(current_user)%>
      </div>
      <div class="panel-body">
          
        <% @jboards.each do |jboard| %>
            <strong> Title: </strong><br>
              <%= jboard.title %><br>
            <strong> Position: </strong><br>
              <%= jboard.position %><br>
            <strong> Agency: </strong><br>
              <%= jboard.agency %><br>
            <strong> Location: </strong><br>
              <%= "#{jboard.city}, #{jboard.state}" %><br><br>
            <%= link_to 'Show', jboard_path(jboard) %> | 
            <%= link_to 'Edit', edit_jboard_path(jboard) %> | 
            <%= link_to 'Delete', jboard_path(jboard), method: :delete %>
            <hr>
        <% end %>
        
      </div>
    </div>
</div>