
          

<div id="wrapper"><!-- START BODY CONTAINER -->
  

      <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                        <%= link_to 'Post a Job', new_user_jboard_path(current_user), class: "list-group-item"%>
                    </li>
                    <!-- <li>
                        <%= link_to "Create A Post", new_user_post_path(current_user), class: "list-group-item" %>
                    </li>
                    <li>
                        <%= link_to "Show Messages", user_messages_path(current_user), class: "list-group-item" %>
                    </li> -->
                </ul>
                <%= render 'layouts/footer'  %>
            </div>
        </div>

        <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
          <div id="center">
            <h4>Job Details</h4>
            <hr>
            <strong><%= @jboard.title%></strong><br>
            Category - <%= @jboard.category %><br>
            <%= "Open: #{@jboard.open_date} until: #{@jboard.close_date}" %>
            <hr>
            <strong> Agency: </strong><br>
              <%= @jboard.agency %><br>
              <%= "#{@jboard.city}, #{@jboard.state}, #{@jboard.zip}" %><br>
              <%= @jboard.website%><br><br>
            <strong> Contact: </strong><br>
              <%= "#{@jboard.first_name} #{@jboard.last_name}"%><br>
              <%= @jboard.phone%><br>
              <%= @jboard.email%>
              <hr>
            <strong> Job Description: </strong>
              <%= @jboard.description %><br><br>
            <strong> Job Requirements: </strong><br>
              <%= @jboard.requirements %><br><br>
            <strong> How To Apply: </strong><br>
              <%= @jboard.how_to_apply %>
              <hr>
            <strong> Job Link: </strong>
              <%= @jboard.job_link%><br>
            <strong> Job Id: </strong>
                <%= @jboard.identifier%><br>
            <% if @jboard.user == current_user && user_signed_in? %><br>
              <%= link_to 'Edit', edit_jboard_path(@jboard) %> | 
              <%= link_to 'Delete', jboard_path(@jboard), method: :delete %>
            <% end %>
            <br>
            <br>
            <br>
            
          </div>
        </div> <!-- END CENTER COLUMN -->

        <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
          <div id="sidebar">
           <%= render "shared/top_right_banner" %>
          </div>
        </div> <!-- END right COLUMN -->

   
  </div><!-- END BODY CONTAINER --> 