

<div class="container">
  <div class"col-md-4">

  <div class="row"><!-- Start Overdue row -->
    <div class="col-md-4">
      <div class="task-box">
        <h5><strong>Overdue</strong></h5>
      </div>
      <% tasks.order("due_date DESC").each do |task| %>
          <% if task.due_date < Date.today %>

            <kbd><%= task.category%></kbd>  <small><%= task.title %></small><br>
            <p class="editFont"><small class="text-muted">  
              <%= link_to "", edit_task_path(task), class: "fa fa-pencil", remote: true %> |
              <%= link_to "", task_path(task), method: :delete, class: "fa fa-trash" %>
            </small></p>

          <% end %>
      <% end %>
    </div>
  </div> <!-- End Overdue row -->

  <div class="row"><!-- Start Due Today row -->
    <div class="col-md-4">
      <div class="task-box">
        <h5><strong>Due Today</strong></h5>
      </div>
      <% tasks.order("due_date DESC").each do |task| %>
        <% if task.due_date == Date.today %>

          <kbd><%= task.category%></kbd>  <small><strong class="timeColor"><%= task.due_time.strftime("%I:%M %p") %></strong> <%= task.title %></small><br>
          <p class="editFont"><small class="text-muted">
            <%= link_to "", edit_task_path(task), class: "fa fa-pencil", remote: true %> |
            <%= link_to "", task_path(task), method: :delete, class: "fa fa-trash" %>
          </small></p>

        <% end %>
      <% end %>
    </div>
  </div> <!-- End Due Todayrow -->

  <div class="row"><!-- Start Due Tomorrow row -->
    <div class="col-md-4">
      <div class="task-box">
        <h5><strong>Due Tomorrow</strong></h5>
      </div>
      <% tasks.order("due_date DESC").each do |task| %>
          <% if task.due_date == Date.current.tomorrow %>

          <kbd><%= task.category%></kbd>  <small><strong class="timeColor"><%= task.due_time.strftime("%I:%M %p") %></strong> <%= task.title %></small><br>
          <p class="editFont"><small class="text-muted">  
            <%= link_to "", edit_task_path(task), class: "fa fa-pencil", remote: true %> |
            <%= link_to "", task_path(task), method: :delete, class: "fa fa-trash" %>
          </small></p>

        <% end %>
      <% end %>
    </div>
  </div> <!-- End Due Tomorrow row -->

  <div class="row"><!-- Start Due Tomorrow row -->
    <div class="col-md-4">
      <div class="task-box">
        <h5><strong>Upcoming</strong></h5>
      </div>
      <% tasks.order("due_date DESC").each do |task| %> 
          <% if task.due_date > DateTime.tomorrow  %>

            <kbd><%= task.category%></kbd>  <small><strong class="timeColor"><%= task.due_time.strftime("%I:%M %p") %></strong> <%= task.title %></small><br>
          <p class="editFont"><small class="text-muted">  
            <%= link_to "", edit_task_path(task), class: "fa fa-pencil", remote: true %> |
            <%= link_to "", task_path(task), method: :delete, class: "fa fa-trash" %>
          </small></p>

          <% end %>
      <% end %>
    </div>
  </div> <!-- End Due Tomorrow row -->

</div>
</div> <!-- End Main Container -->


   <!--  # t.integer  "user_id"
    # t.string   "title"
    # t.date     "due_date"
    # t.time     "due_time"
    # t.string   "category"
    # t.boolean  "private"
    # t.text     "notes" -->