<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> Certification</h1>
      </div>
      <div class="panel-body">
          <strong> Title: </strong><br>
              <%= @cert.title%><br>
          <strong> Issue Date: </strong><br>
              <%= @cert.start_date %><br>
          <strong> Expiration Date: </strong><br>
              <%= @cert.expire_date %><br>
          <strong> Description: </strong><br>
              <%= @cert.description %><br><br>
          <%= link_to 'Back', profile_path %> | 
          <%= link_to 'Edit', edit_cert_path(@cert) %> | 
          <%= link_to 'Delete', @cert, method: :delete %>
        
      </div>
  </div>
</div>
