
  <%= bootstrap_form_for [@user, @job], remote: using_modal do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <%#= f.label :job_position %>
  <%= f.text_field :position, required: true %>
  <%#= f.label :job_company %>
  <%= f.text_field :company, required: true %>

  <!-- <div id="employCheck-<%= job.id %>">
    <%#= job_box(job) %>
  </div> -->

  <%= f.date_select :start_date, :start_year=>1950, required: true %>
  <div id="end-date" class="">
    <%= f.date_select :end_date, :start_year=>1950 %>
  </div>
  <div id="current-working" class="hidden">
    I currently work here.
  </div>

  <%= f.check_box :current_employer %>

  <%#= f.label :job_description %>
  <%= f.text_area :description %>

  <%= f.submit "Submit", class: "btn btn-warning"%>
  <% end %>

