
<% jobs.each do |job| %>
<div >
  <p><%= job.company %></p>
  <p><%= job.start_date %></p>
  <p><%= job.end_date %></p>
  <p><%= job.position %></p>
  <p><%= job.description %></p>
  <p class="jobButton"><%= link_to 'Show Job', job_path(job), class: "btn btn-link" %></p>
  <p class="jobButton"><%= link_to 'Edit Job', edit_job_path(job), class: "btn btn-link" %></p>
  <p class="jobButton"><%= link_to 'Destroy Job', job, method: :delete, class: "btn btn-link" %></p>
</div>
<% end %>
