

<div id="wrapper"><!-- START BODY CONTAINER -->
  

      <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
                <!-- <ul class="nav list-group">
                    <li>
                        <%= link_to 'Post a Job', new_user_jboard_path(current_user), class: "list-group-item"%>
                    </li>
                    <li>
                        <%= link_to "Create A Post", new_user_post_path(current_user), class: "list-group-item" %>
                    </li>
                    <li>
                        <%= link_to "Show Messages", user_messages_path(current_user), class: "list-group-item" %>
                    </li>
                </ul> -->
                <ul class="well">
                  <h5>Search Members</h5>
                  <%= render 'layouts/membersearchform'  %>
                </ul>
            </div>
        </div>

        <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
          <div id="center">
            <h4>FiredUp Members</h4>
           <% @users.each do |user| %> <!-- First Loop -->
            <div class="panel panel-default">
              <div class="panel-body memberPanelOverride">
                <h4 class="memberTitleOverride"><strong>
                  <%= link_to image_tag(user.image.url(:med)), user.image.url, class: "pull-left smallImage" %>
                  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%>
                </strong></h4>

                  <% user.jobs.each do |job| %> <!-- Second Loop -->
                    <% if job.current_employer == true %>
                      <strong><%= job.position %></strong> - <%= job.company %><br>
                    <% end %>
                  <% end %> <!-- End Second Loop -->

                <%= "#{user.city}, #{user.state}" %><br>
                <small class="text-muted">Member since: <%= user.created_at.strftime("%B %Y") %></small><br><br>

              </div> <!-- End Panel body-->
            </div> <!-- END Panel default -->
          <% end %> <!-- End First Loop -->
           <%= paginate @users %>  
            
          </div>
        </div> <!-- END CENTER COLUMN -->

        <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
          <div id="sidebar">
           
          </div>
        </div> <!-- END right COLUMN -->

   
  </div><!-- END BODY CONTAINER --> 