
  <div id="wrapper"><!-- START BODY CONTAINER -->
  
      <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
              <hr>
              <h3 class="connectionsText"><strong>Connections<strong></h3>

              <hr>
                <ul class="nav list-group">
                    <li>
                        <!--<%= link_to "Create A Post", new_user_post_path(current_user), class: "list-group-item" %>-->
                    </li>
                    <li>
                        <!--<%= link_to "Show Messages", user_messages_path(current_user), class: "list-group-item" %>-->
                    </li>      
                    <li>
                        <!--<%= link_to 'Post a Job', new_user_jboard_path(current_user), class: "list-group-item"%>-->
                    </li>
                </ul>
                <div class="connectionScroll">
              <%= render 'posts/pictured_connection' %>
            </div>
            <hr>


              <%= render 'layouts/footer'  %>

            </div>
        </div>

        <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
          <div id="center">
            <div>
              <hr>
              <h2 class="pendingConnectionsText">Pending Connections</h2>
             
            </div>
            
            <table class="table table-hover">
              <tbody>
                <% @pending_connections.each do |user| %>
                  <tr>
                    <td><strong><%= "#{user.first_name} #{user.last_name} " %></strong><%="would like to Connect with you!"%></td>
                    <td>
                      <%= link_to "Approve", approve_path(user) %>
                    </td>
                    <td>
                      <%= link_to 'View Profile', user_path(user) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          </div>
        </div> <!-- END CENTER COLUMN -->

        <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
          <div id="sidebar">
           
            <%= render "shared/top_right_banner" %>

          </div>
        </div> <!-- END right COLUMN -->

   
  </div><!-- END BODY CONTAINER --> 

