
  <div id="wrapper"><!-- START BODY CONTAINER -->
  

      <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
              <h4 class="centerText"><strong>Pending Connections</strong></h4>
                <ul class="nav list-group">
                    <li>
                        <!--<%= link_to "Create A Post", new_user_post_path(current_user), class: "list-group-item" %>-->
                    </li>
                    <li>
                        <!--<%= link_to "Show Messages", user_messages_path(current_user), class: "list-group-item" %>-->
                    </li>      
                    <li>
                        <!--<%= link_to 'Post a Job', new_user_jboard_path(current_user), class: "list-group-item"%>-->
                    </li>
                </ul>

              <%= render 'posts/pictured_connection' %>

              <%= render 'layouts/footer'  %>

            </div>
        </div>

        <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
          <div id="center">
            
            <ul>
            <% @pending_connections.each do |user| %>
              <li><strong><%= "#{user.first_name}" %></strong> <strong><%= " #{user.last_name} " %></strong><%="would like to Connect with you!" %> <%= link_to "Approve", approve_path(user)  %> <%= link_to 'View Profile', user_path(user) %></li>

            <% end %>

            </ul>
            
          </div>
        </div> <!-- END CENTER COLUMN -->

        <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
          <div id="sidebar">
           
            <%= render "shared/top_right_banner" %>

          </div>
        </div> <!-- END right COLUMN -->

   
  </div><!-- END BODY CONTAINER --> 

