<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h2>Your Profile</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2"><!-- BEGIN LEFT COLUMN -->
      <ul class="nav nav-pills nav-stacked well">
        Jobs</br></br>
        Education</br></br>
        Certifications
      </ul>
    </div><!-- END LEFT COLUMN -->

    <div class="col-md-6"><!-- BEGIN CENTER COLUMN -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
          <p><%= link_to 'Edit Profile', edit_user_registration_path %></p>
        </div>
        <div class="panel-body">
          <%= link_to image_tag(@user.image.url(:med)), @user.image.url, class: "pull-right" %>
          <strong> Name: </strong><br>
            <%= "#{@user.first_name}  #{@user.last_name}" %><br>
          <strong> Address: </strong><br>
            <%= @user.address %><br>
            <%= "#{@user.city}, #{@user.state}, #{@user.zip}" %><br>
          <strong> Twitter:</strong><br>
            <%= @user.twitter %><br>
          <strong> Birthdate:</strong><br>
            <%= @user.birthdate %><br>
          <strong> Phone Numbers:</strong><br>
            Phone: <%= @user.phone %><br>
            Cell Phone: <%= @user.mobile_phone %><br>
          <strong> Gender:</strong><br>
            <%= @user.gender %><br>
          <strong> Secondary Email:</strong><br>
            <%= @user.secondary_email %><br>
          <strong> Bio:</strong><br>
            <%= @user.bio %><br>
        </div>
      </div>

      <% if user_signed_in? %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Job Experience</h3>
            <p><%= link_to 'Add a Job', new_user_job_path(current_user), remote: true %></p>
          </div>
          <div class="jobsIndex panel-body" id="jobsList"> 
            <% @jobs.each do |job| %>
              <div id="job-<%= job.id %>">
                <%= render partial: 'jobs/index', locals: { job: job } %>
              </div>  
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Education</h3>

            <p><%= link_to 'Add Education', new_user_education_path(current_user), remote: true %></p>
          </div>
          <div class="educationIndex panel-body" id="eduList">
            <% @educations.each do |education| %>
              <div id="education-<%= education.id %>">
                <%= render partial: 'educations/index', locals: { education: education }%>
            </div>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Certifications</h3>
            <p><%= link_to 'Add Certification', new_user_cert_path(current_user), remote: true %></p>
          </div>
          <div class="certIndex panel-body" id="certList">
            <% @certs.each do |cert| %>
              <div id="cert-<%= cert.id %>">
                <%= render partial: 'certs/index', locals: { cert: cert } %>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div><!-- END CENTER COLUMN -->
    <div class="col-md-4"> <!--BEGIN RIGHT COLUMN -->
      <ul class="nav nav-pills nav-stacked well">
        something else</br></br>
        and another thing
      </ul>
    </div>  <!--END RIGHT COLUMN -->
  </div><!-- closes row -->


</div><!-- closes container -->

<!-- New Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
      </div>
      <div class="modal-body" id= "NewModalBody">
        
      </div>
    </div>
  </div>
</div>