
 <!-- Start Main Container --> 

<div id="wrapper"><!-- START BODY CONTAINER -->
  <div id="sidebar-wrapper" class="col-md-2">
        <div id="sidebar">
            <ul class="nav list-group">
              
              <li>
              <%= link_to "Pending Connections...", pending_connection_path, class: "list-group-item" %>
              </li>
                <li>
                    <%= link_to "Create A Post", new_user_post_path(current_user), class: "list-group-item" %>
                </li>
                <li>
                    <%= link_to "Show Messages", user_messages_path(current_user), class: "list-group-item" %>
                </li>
                <li>
                    <%= link_to 'Post a Job', new_user_jboard_path(current_user), class: "list-group-item"%>
                </li>
                
            </ul>
            <%= render 'layouts/footer'  %>
        </div>
    </div>


    <div id="center-wrapper" class="col-md-6"><!-- START CENTER COLUMN -->
      <div id="center">
        <div class="panel panel-default">
          <div class="center panel-heading">      
            <h3 class="inline"><strong> <%= "#{@user.first_name}'s Profile" %> </strong>
              <% if @user == current_user %>

              <% else %>
                  <% if @user.followed_by?(current_user) && current_user.followed_by?(@user)%>
                    <%= link_to "Connected", connect_path(@user),  class: "btn btn-warning btn-xs disabled" %>
                  <% elsif @user.followed_by?(current_user) %>
                    <%= link_to "Pending", connect_path(@user),  class: "btn btn-warning btn-xs disabled" %>    
                  <% elsif current_user.followed_by?(@user) %>
                    <%= link_to "Approve", approve_path(@user), class: "btn btn-primary" %>
                  <% else %>
                      <%= link_to "Connect", connect_path(@user),  class: "btn btn-warning btn-xs" %>
                  <% end %> 
               <% end %>
            </h3>
          </div>
          
          <div class="panel-body">
            <% if @user == current_user %>

            <% else %>
              <%= link_to fa_icon("envelope", text: "Send a Message to #{@user.first_name}."), new_user_message_path(@user) %><br><br>
            <% end %>
            <%= link_to image_tag(@user.image.url(:large)), @user.image.url, class: "pull-right" %>

            <strong> <%= "#{@user.first_name}  #{@user.last_name}" %> </strong><br>
              <%= @user.address %><br>
              <%= "#{@user.city}, #{@user.state}, #{@user.zip}" %><br><br>
            
            <strong> Contact:</strong><br>
              Phone: <%= @user.phone %><br>
              Cell Phone: <%= @user.mobile_phone %><br>
              <%= @user.email %><br>
              <%= @user.twitter %><br>
            <strong> Birthdate:</strong> <%= @user.birthdate.strftime("%B %d, %Y") %><br><br>

            <strong> About Me:  </strong>
              <%= @user.bio %><br><br>
              
          </div> <!-- End Panel Body -->
        </div><!-- End panel -->

        <% if user_signed_in? %>
          <div role="tabpanel"> 

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home"
                  aria-controls="home" role="tab" data-toggle="tab">Work Experience</a></li>
              <li role="presentation"><a href="#education"
                  aria-controls="profile" role="tab" data-toggle="tab">Education</a></li>
              <li role="presentation"><a href="#certs"
                  aria-controls="profile" role="tab" data-toggle="tab">Certifications</a></li>
              <li role="presentation"><a href="#ces"
                  aria-controls="profile" role="tab" data-toggle="tab">Continuing Education</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="well well-lg" style="margin-top: 0px;">
                  <% if @user == current_user %>
                    <p><%= link_to 'Add Work Experience', new_user_job_path(current_user), class: "btn btn-warning btn-xs paddingAddComment", remote: true %></p>
                  <% end %>
                  <div class="jobsIndex panel-body" id="jobsList"> 
                    <% @jobs.each do |job| %>
                      <div id="job-<%= job.id %>">
                        <%= render partial: 'jobs/index', locals: { job: job } %>
                      </div>  
                    <% end %>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="education">
                <div class="well well-lg" style="margin-top: 0px;">
                  <% if @user == current_user %>
                    <p><%= link_to 'Add Education', new_user_education_path(current_user), class: "btn btn-warning btn-xs paddingAddComment", remote: true %></p>
                    <% end %>
                  <div class="educationIndex panel-body" id="eduList">
                    <% @educations.each do |education| %>
                      <div id="education-<%= education.id %>">
                        <%= render partial: 'educations/index', locals: { education: education }%>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="certs"> <!-- CERTS panel start -->
                <div class="well well-lg" style="margin-top: 0px;">
                  <% if @user == current_user %>
                    <p><%= link_to 'Add Certification', new_user_cert_path(current_user), class: "btn btn-warning btn-xs paddingAddComment", remote: true %></p>
                  <% end %>
                  <div class="certIndex panel-body" id="certList">
                    <% @certs.each do |cert| %>
                      <div id="cert-<%= cert.id %>">
                        <%= render partial: 'certs/index', locals: { cert: cert } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div> <!-- CERTS panel end -->

              <div role="tabpanel" class="tab-pane" id="ces"> <!-- CE panel start -->
                <div class="well well-lg" style="margin-top: 0px;">
                  <% if @user == current_user %>
                    <p><%= link_to 'Add Continuing Education', new_user_ce_path(current_user), class: "btn btn-warning btn-xs paddingAddComment", remote: true %></p>
                  <% end %>
                  <div class="ceIndex panel-body" id="ceList">
                    <% @ces.each do |ce| %>
                      <div id="ce-<%= ce.id %>">
                        <%= render partial: 'ces/index', locals: { ce: ce } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div> <!-- CE panel end -->

            </div> <!-- End Tab Panes -->
          </div><!-- Ends Tab Panel -->
        <% end %>
        
      </div>
    </div> <!-- END CENTER COLUMN -->

  <div id="right-wrapper" class="col-md-4"> <!-- Begin right column -->
    <div id="sidebar">
     <%= render "shared/top_right_banner" %>
    </div>
  </div> <!-- END right COLUMN -->

 
</div><!-- END Wrapper --> 

<!-- New Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
      </div>
      <div class="modal-body" id= "NewModalBody">
      </div>
    </div>
  </div>
</div>