

<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> <%= "#{@user.first_name}'s Profile" %> </h1>
        <% if @user.followed_by?(current_user) && current_user.followed_by?(@user)%>
            <%= link_to "Connected", connect_path(@user),  class: "btn btn-primary disabled" %>
        <% elsif @user.followed_by?(current_user) %>
            <%= link_to "Pending", connect_path(@user),  class: "btn btn-primary disabled" %>
        <% elsif current_user.followed_by?(@user) %>
            <%= link_to "Approve", approve_path(@user), class: "btn btn-primary" %>
        <% else %>
            <%= link_to "Connect", connect_path(@user),  class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <div class="panel-body">
        <%= link_to fa_icon("envelope", text: "Send a New Message"), new_user_message_path(@user) %><br><br>
          <%= link_to image_tag(@user.image.url(:large)), @user.image.url, class: "pull-right" %>

          <strong> <%= "#{@user.first_name}  #{@user.last_name}" %> </strong><br>
        
            <%= @user.address %><br>
            <%= "#{@user.city}, #{@user.state}, #{@user.zip}" %><br>
          <strong> Twitter:</strong><br>
            <%= @user.twitter %><br>
          <strong> Birthdate:</strong><br>
            <%= @user.birthdate %><br>
          <strong> Phone Numbers:</strong><br>
            Phone: <%= @user.phone %><br>
            Cell Phone: <%= @user.mobile_phone %><br>
            <%= @user.email %><br>
            <%= @user.twitter %><br>

          Birthdate: <%= @user.birthdate.strftime("%B %d, %Y") %><br>
          Gender: <%= @user.gender %><br><br>
          <strong> About Me:</strong><br>
            <%= @user.bio %><br><br>
          <%= link_to fa_icon("caret-left", text: "Back"), users_path %>
          <% if @user == current_user && user_signed_in? %>
             | <%= link_to 'Edit', edit_user_registration_path %>
          <% end %>
        
      </div>
  </div>
</div>