<%= image_tag "station_17.jpg", class: "bg" %>
<div class="container">
  <div class=" col-md-12 well">
    <div class="col-md-12">
      <h1 class='text-center'>About FiredUp</h1>
      <p><strong>Firefighters are synonymous with bravery, comradery, and brotherhood. FiredUp is a social networking app built for firefighters and EMS personnel to help them strengthen that brotherhood by sharing stories, offering and taking advice and helping one another in their careers. Our hope is that many will use this app to do exactly that.</strong></p>
    </div>
      <div class="col-md-4">
        <center>
          <%= image_tag "ryan.jpg", alt: "Ryan", class: "img" %>
          <h3>Ryan Carter</h3>
          <%= link_to (fa_icon "linkedin-square 2x"),  "https://www.linkedin.com/in/ryancarterphoto", target: "_blank"%> 
          <%= link_to (fa_icon "github 2x"), "https://github.com/cartervisuals", target: "_blank" %> 
          <%= link_to (fa_icon "envelope 2x"), "mailto:cartervisuals@gmail.com" %>
        </center>

        <p>FiredUp is Ryan's brainchild and as such he took the role of project manager. He shared his vision, managed our team and kept us on pace. He is responsible for the site's search functions along with some formatting and styling.</p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-md-4">
        <center>
          <%= image_tag "aaron.jpg", alt: "Aaron", class: "img" %>
          <h3>Aaron Eveleth</h3>
          <%= link_to (fa_icon "linkedin-square 2x"),  "https://www.linkedin.com/pub/aaron-eveleth/b4/958/64b", target: "_blank"%> 
          <%= link_to (fa_icon "github 2x"), "https://github.com/jobenscott", target: "_blank" %> 
          <%= link_to (fa_icon "envelope 2x"), "mailto:jobenscott@yahoo.com" %>
        </center>

        <p>Aaron is responsible for the all-important social aspect in our site of messaging and connecting. He worked very hard to ensure our code was tested as well.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <center>
          <%= image_tag "joey.jpg", alt: "Joey", class: "img" %>
          <h3>Joey Hilton</h3>
          <%= link_to (fa_icon "linkedin-square 2x"),  "https://linkedin.com/in/joeyhilton", target: "_blank"%> 
          <%= link_to (fa_icon "github 2x"), "https://github.com/JoeyHilton", target: "_blank" %> 
          <%= link_to (fa_icon "envelope 2x"), "mailto:shnek81@gmail.com" %>
        </center>

        <p>With his background in graphic design, Joey is responsible for the overall layout and design of the site and the logo. He implemented picture and file uploads through paperclip and Amazon S3 photo storage. He also implemented facebook log in as well. He was also very involved in testing our code.</p>
      </div><!-- /.col-lg-4 -->
    
  </div><!-- end well-->
</div> <!-- end container-->
