<%= image_tag "station_17.jpg", class: "bg" %>
<div class="container">
  <div class=" col-md-12 well">
    <div class="col-md-12">
      <h1 class='text-center'>About FiredUp</h1>
      <p>FiredUP.io is a social networking app built for firefighters and EMS personnel. Ryan Carter, Aaron Eveleth and Joey Hilton are the authors of this app. Thanks for looking!</p>
    </div>
      <div class="col-md-4">
        <center>
        <%= image_tag "ryan.jpg", alt: "Ryan", class: "img" %>
        <h3>Ryan Carter</h3>
        <%= link_to (fa_icon "linkedin-square 2x"),  "https://www.linkedin.com/in/ryancarterphoto", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/cartervisuals", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:cartervisuals@gmail.com" %>
      </center>

        <p>Paleo authentic blog Bushwick. Polaroid typewriter photo booth, food truck cliche tousled chillwave. Godard messenger bag hella banjo, sustainable wolf kale chips Tumblr farm-to-table. Keffiyeh chillwave semiotics Echo Park distillery. Actually tofu Tumblr YOLO, bicycle rights next level hoodie Banksy quinoa tilde seitan fashion axe sartorial. Wes Anderson PBR&B street art slow-carb banh mi fanny pack, deep v four dollar toast Vice kogi chambray DIY put a bird on it pork belly PBR. Leggings literally keytar, retro biodiesel selfies pour-over Blue Bottle cold-pressed plaid health goth XOXO.</p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-md-4">
        <center>
         <%= image_tag "aaron.jpg", alt: "Aaron", class: "img" %>
        <h3>Aaron Eveleth</h3>
        <%= link_to (fa_icon "linkedin-square 2x"),  "https://linkedin.com", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/jobenscott", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:jobenscott@yahoo.com" %>
      </center>

        <p>Disrupt small batch readymade, viral cold-pressed freegan Pinterest Blue Bottle mlkshk VHS. Flannel cred Odd Future cold-pressed biodiesel Helvetica. Actually ethical try-hard, lo-fi flannel church-key tilde umami next level banh mi mixtape mumblecore fashion axe. Chillwave farm-to-table skateboard gentrify single-origin coffee aesthetic. Artisan banh mi you probably haven't heard of them, salvia butcher PBR kitsch Shoreditch hashtag health goth XOXO. Flannel wayfarers four dollar toast, ethical irony McSweeney's next level retro kitsch. Fap cold-pressed sustainable Tumblr ethical gastropub tofu Intelligentsia.  </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <center>
        <%= image_tag "joey.jpg", alt: "Joey", class: "img" %>
        <h3>Joey Hilton</h3>
        <%= link_to (fa_icon "linkedin-square 2x"),  "https://linkedin.com/in/joeyhilton", target: "_blank"%> 
        <%= link_to (fa_icon "github 2x"), "https://github.com/JoeyHilton", target: "_blank" %> 
        <%= link_to (fa_icon "envelope 2x"), "mailto:shnek81@gmail.com" %>
        </center>

        <p>Cred small batch tote bag McSweeney's art party. Carles shabby chic small batch, cornhole Truffaut bespoke polaroid skateboard selvage PBR quinoa. 90's Pinterest selfies, keytar +1 Shoreditch try-hard meditation slow-carb cliche brunch letterpress Banksy. Flexitarian ethical salvia food truck, pop-up aesthetic tilde squid. Four loko trust fund Pinterest, quinoa swag kale chips tousled Truffaut whatever Etsy listicle. Flexitarian photo booth sriracha, 90's kale chips Portland direct trade Bushwick Etsy selvage. Crucifix bespoke Neutra sriracha stumptown bicycle rights.</p>
      </div><!-- /.col-lg-4 -->
    
  </div><!-- end well-->
</div> <!-- end container-->
