
<!-- <h2 class="text-center headline3">Command Center</h2> -->

<% posts.order("created_at DESC").each do |post| %>
    <% if post.user.followed_by?(current_user) || post.share_with == "Everyone" || post.user == current_user %>
      <div class="panel panel-default">
        <div class="center panel-heading panelOverride">
        <%= link_to image_tag(post.user.image.url(:icon)), user_path(post.user_id), class: "pull-left iconImagePanel img-circle" %>      
          <strong> <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user_id) %> </strong>

          <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago </small>
          <% if post.user == current_user && user_signed_in? %>
                <small class="text-muted"><%= link_to "Edit", edit_post_path(post) %> |</small>
                <small class="text-muted"><%= link_to "Delete", post_path(post), method: :delete%></small>
          <% end %>
        </div>
    <!-- Post Content -->
        <div class="panel-body panelBodyFeed ">
          <p><%= post.content %></P>
          <div class="float-left"><%= image_tag post.image.url(:xlarge), class: "pull-left" if post.image_file_name %></div>

          <div class="float-left"> 
           <%= link_to "Add Comment", new_post_comment_path(post), class: "btn btn-warning btn-xs paddingAddComment" %><br>

      <!-- Add comments -->
            <% post.comments.each do |comment| %>
              <br>
              <strong><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user_id) %></strong>
                  <% if comment.user == current_user && user_signed_in? %>
                    <small class="text-muted"><%= link_to "Edit", edit_comment_path(comment) %> |</small>
                    <small class="text-muted"><%= link_to "Delete", comment_path(comment), method: :delete%></small>
                  <% end %>
              <blockquote>
                <%= comment.body %>
              
                <small class="text-muted"> <%= time_ago_in_words(post.created_at) %> ago </small>
              
                </blockquote>
            <% end %>
          </div> <!-- End Float Left -->
        </div>
      </div>
    <% end %>
    <% end %>
<%= paginate (@posts) %>
