
<!-- <h2 class="text-center headline3">Command Center</h2> -->

<% posts.order("created_at DESC").each do |post| %>
    <% if post.user.followed_by?(current_user) || post.share_with == "Everyone" || post.user == current_user %>
      <div class="panel panel-default">
        <div class="center panel-heading panelOverride" id="post-<%= post.id %>">
        <%= link_to image_tag(post.user.image.url(:icon)), user_path(post.user_id), class: "pull-left iconImagePanel img-circle" %>      
          <strong> <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user_id) %> </strong>

          <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago </small>
          <% if post.user == current_user && user_signed_in? %>
                <small class="text-muted"><%= link_to "Edit", edit_post_path(post), remote: true %> |</small>
                <small class="text-muted"><%= link_to "Delete", post_path(post), method: :delete %></small>
          <% end %>
        </div>
    <!-- Post Content -->
        <div class="panel-body panelBodyFeed ">
          <p class="post-pad"><%= post.content %></P>
          <div class="float-left"><%= image_tag post.image.url(:xlarge), class: "pull-left" if post.image_file_name %></div>

          <div class="float-left"> 
          

      <!-- Add comments -->
      <div id="comment_section_<%= post.id %>" class="comment-indent">
        <%= render partial: 'posts/comments', locals: { post: post } %>
      </div>

            
            <div class="hidden comment_field" id="compose_comment_box_<%= post.id %>">
            <%= render partial: 'comments/form_fields', locals: { post: post, comment: post.comments.build } %>  
          </div>
          <button class="show_comment_field btn btn-warning btn-xs paddingAddComment">Add Comment</button>
          </div> <!-- End Float Left -->
        </div>
      </div>
    <% end %>
    <% end %>
<%= paginate (@posts) %>
