<div class="container">

  <div class="container"><!-- START HEADER CONTAINER -->
    <div class="row">
          <div class="col-md-12 text-center headline3">
            <h2>FiredUp Job Board</h2>
          </div>
    </div>
  </div><!-- END HEADER CONTAINER -->

  <div class="container"><!-- START Body CONTAINER -->
  <div class="row"><!-- Start Second Row -->

    <div class="col-md-2"><!-- Start Left Column -->


      <h3>Place Holder</h3>
 

    </div><!-- End Left Column -->

    <div class="col-md-6"><!-- Start Center Column -->

        <div class="panel panel-default">
          <div class="center panel-heading">      
            <h1> Search Results </h1>
            <%= link_to 'Search Again', jboards_path, class: "btn btn-primary" %>
          </div>
          
          <div class="panel-body">
            
            <% if @jsearch.search_jboards.empty? %>
                <p>No Records Found</p>
            <% else %> 
                
              <% @jsearch.search_jboards.order("created_at DESC").each do |c| %>
                  <strong><h4 class="jboardTitleOverride"><%= link_to c.title, jboard_path(c) %></h4></strong>
                    <%= c.agency %><br>
                    <%= "#{c.city}, #{c.state}" %><br>

                    <small class="text-muted">Posted <%= time_ago_in_words(c.created_at) %> ago </small>

                  <small class="text-muted">in category: <%= c.category %></small><br>
                  <small><%= link_to 'See Details', jboard_path(c) %></small> 
                  <%= link_to 'Edit', edit_jboard_path(c) %> | 
                  <%= link_to 'Delete', jboard_path(c), method: :delete %>
                  <hr>
              <% end %>
            <% end %>

          </div>
        </div>

      
    </div> <!-- End Center Column -->

    <div class="col-md-4"><!-- Start Right Column -->
    

      <h1>Place Holder</h1>


    </div><!-- End Right Column -->

  </div> <!-- End Second Row -->
  </div> <!-- End body container Row -->


</div><!-- End Container -->
