<div class="container">
  <%= bootstrap_form_for [@user, @education] do |f| %>

    <%= f.text_field :school, class: 'form-control' %>

    
    <%= f.text_field :subject, class: 'form-control' %>

    
    <%= f.text_field :degree, class: 'form-control' %>

   
    <%= f.text_area :description, class: 'form-control' %>

    
    <%= f.date_select :start_date, class: 'form-control'  %>

   
    <%= f.date_select :end_date, class: 'form-control'  %>

    <%= f.submit %>
  <% end %>
</div>