<div class="container">

  
  <% @user.educations.each do |education| %>
    <h2><%= education.school%></h2>
    <h3><%= education.degree %></h3>
    <p><%= education.subject %></p>
    <p><%= education.description %></p>
    <p><%= education.start_date %></p>
    <p><%= education.end_date %></p>
    <%= link_to 'Show education', education_path(education) %>
    <%= link_to 'Edit Education', edit_education_path(education) %>
    <%= link_to 'Delete Education', education, method: :delete %>
  <% end %>
</div>
