<h1> Education </h1>
<h2><%= @education.edu_school%></h2>
  <h3><%= @education.edu_degree %></h3>
  <p><%= @education.edu_subject %></p>
  <p><%= @education.edu_description %></p>
  <p><%= @education.edu_stardate %></p>
  <p><%= @education.edu_enddate %></p>
<%= link_to 'Back', educations_path %>