<%= bootstrap_form_for @jsearch do |s| %>

    <%= s.select :category, options_for_select(@categories), :include_blank => true %>

    <%= s.select :state, options_for_select(@states), :include_blank => true %>

    <%= s.text_field :city, :include_blank => true %>

    <%= s.text_field :agency, :include_blank => true %>

  <div class="actions"><%= s.submit "Search" %></div>
  
<% end %>
