<!DOCTYPE html>
<html>
<head>
  <title>Firedup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar'  %>
  <!-- devise alerts do not delete/move -->
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <!-- - - - - - - - - - - - - - - - -  -->
<!-- <div class='col-md-2'>
  <h1>Sidebar left</h1>
</div> -->
<!-- <div class='col-md-8'> -->
  <%= yield %>
<!-- </div> -->
<!-- <div class='col-md-2'>
  <h1>Sidebar right</h1>
</div> -->



</body>
</html>
